<a href="https://colab.research.google.com/github/Himangi-77/excelR-assignments/blob/main/ASSIGNMENT17_SVM_FORESTFIRES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

classify the Size_Categorie using SVM

month	month of the year: 'jan' to 'dec'

day	day of the week: 'mon' to 'sun'

FFMC	FFMC index from the FWI system: 18.7 to 96.20

DMC	DMC index from the FWI system: 1.1 to 291.3

DC	DC index from the FWI system: 7.9 to 860.6

ISI	ISI index from the FWI system: 0.0 to 56.10

temp	temperature in Celsius degrees: 2.2 to 33.30

RH	relative humidity in %: 15.0 to 100

wind	wind speed in km/h: 0.40 to 9.40

rain	outside rain in mm/m2 : 0.0 to 6.4

Size_Categorie 	the burned area of the forest ( Small , Large)

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
data = pd.read_csv('/content/forestfires.csv')
data.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [13]:
pd.set_option('display.max_columns', None)
data.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,small

In [19]:
le = LabelEncoder()
data['month'] = le.fit_transform(data['month'])
data['day'] = le.fit_transform(data['day'])
data['size_category'] = le.fit_transform(data['size_category'])

In [20]:
x = data.iloc[:,0:30]
y = data.iloc[:,30]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.33)

In [21]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((346, 30), (346,), (171, 30), (171,))

Grid Search Hyperparameter Fine Tuning

In [22]:
clf = SVC()
param_grid = [{'kernel':['rbf'], 'gamma':[50,5,10,0.5,0.05],'C':[15,14,13,12,11,10,0.1,0.001]}]
grid = GridSearchCV(clf, param_grid, cv=10)
grid.fit(x_train, y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5, 0.05], 'kernel': ['rbf']}])

In [24]:
grid.best_score_

0.7717647058823529

In [25]:
grid.best_params_

{'C': 15, 'gamma': 0.05, 'kernel': 'rbf'}

In [27]:
clf = SVC(C=15, gamma=0.05, kernel='rbf')
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)
print('Accuracy Score = ', accuracy_score(y_test,y_pred))

Accuracy Score =  0.695906432748538

In [28]:
confusion_matrix(y_test, y_pred)

array([[  1,  51],
       [  1, 118]])

In [29]:
pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

     Actual  Predicted
308       1          1
396       1          1
88        1          1
413       1          1
393       1          1
..      ...        ...
73        1          1
433       0          1
400       0          1
131       1          1
242       0          1

[171 rows x 2 columns]